/* Reset CSS untuk memastikan konsistensi gaya di semua browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gaya dasar untuk body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Gaya untuk header */
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

/* Gaya untuk navigasi */
nav {
    display: flex;
    justify-content: center;
    background: #333;
    padding: 10px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background: #575757;
}

/* Gaya untuk konten utama */
main {
    margin: 20px 0;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    margin-bottom: 20px;
}

main p {
    margin-bottom: 10px;
}

/* Gaya untuk tombol */
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background: #35424a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #3c5c6d;
}

/* Gaya untuk footer */
footer {
    background: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 8px;
}

footer p {
    margin: 0;
}
